body{
    background: black;
}

.fondo {
    background-color: rgb(40, 40, 40);
    color: cornflowerblue;   
}

a {
    color: cornflowerblue;
}
/* fisrt heading*/


.caja {
    width: 100%;
    /* margin: 0px 0px 0px 0px; */
    height: 400px;
    background-color: white;
    justify-content: space-evenly;
    display: flex;

}

.walter {
    width: 250px;
    height: 250px;
}

.portafolio {
    color: rgb(47, 112, 234);
}

.contenedorimagen {

}