<!-- your html code here -->
<div class=" container-fluid bg-light row m-0 p-0">
    <div class="col-md-1 bg-light"></div>
    <div class= "col px-0">
        <H1>Contact</H1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis ea nam obcaecati, deserunt repudiandae consequatur deleniti iusto maxime quam veniam necessitatibus officiis itaque aperiam fugit voluptatum perferendis assumenda amet laudantium.</p>
    </div>
    <div class="col-md-1 bg-light"></div>
   <!--
     <div class="row">
        <div class="display-flex">

            <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">Password</label>
              </div>
              <div class="col-auto">
                <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
            </div>
            <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">Password</label>
              </div>
              <div class="col-auto">
                <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
            </div>
        </div>
    </div>
-->
    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="col-8 align-items-center">
                <div class="card">
                    <div class="row g-3 justify-content-center text-end p-1">
                        <div class="col-4">
                            <label for="inputPassword6" class="col-form-label"><strong>Your E-mail</strong></label>
                        </div>
                        <div class="col-8">
                            <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                        </div>
                    </div>
                    <div class="row g-3 justify-content-center text-end p-1">
                        <div class="col-4">
                            <label for="inputPassword6" class="col-form-label"><strong>Your message</strong> </label>
                        </div>
                        <div class="col-8">
                            <textarea class="form-control" aria-label="With textarea"></textarea>
                        </div>
                            
                    </div>
                    
                </div>
        
            </div>
        </div>

    </div>

    
</div>
