<!-- your html code here -->
<div class="bg-light container-fluid row m-0 p-0">
    <div class="col-md-1 bg-light">1</div>
    <div class="col bg-light">1
        <h1>portfolio</h1>
        <p class="fs-5"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos aliquam molestias animi ab esse consequuntur maxime sapiente! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias, quod at.</p>
    </div>
    <div class="col-md-1 bg-light">1</div>

<div class=" row card-group container-fluid m-0 p-0">
        <div class="col-md-1 bg-light">1</div>
        <div class="card col-md-3">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="1">
            <div class="card-body">
                <h5 class="card-title">Proyect Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, quo est recusandae quae placeat culpa unde aperiam?</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card col-md-3">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="2">
            <div class="card-body">
                <h5 class="card-title">Proyect Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, quo est recusandae quae placeat culpa unde aperiam?</small></p>
            </div>
        </div>
        <div class="card col-md-3">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="3">
            <div class="card-body">
                <h5 class="card-title">Proyect Name</h5>
                <p class="card-text">TLorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, quo est recusandae quae placeat culpa unde aperiam?</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="col-md-1 bg-light ">1</div>
    </div>
</div>
<p>Hello, I'm the portfolio.html</p>