<!-- your html code here -->
<div class="bg-light container-fluid row m-0 p-0">
    <div class="col-md-1 bg-light"></div>
    <div class="col bg-light px-0">
        <h1 class=" py-3 mt-3">Portfolio</h1>
        <p class="fs-5"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos aliquam molestias animi ab esse conse  quuntur maxime sapiente! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias, quod at.</p>
    </div>
    <div class="col-md-1 bg-light"></div>
    <div class=" row card-group container-fluid m-0 p-0 border-bottom">
        <div class="col-md-1 bg-light"></div>
        <div class="card col-md-3 border-0 ps-0">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="1">
            <div class="card-body px-0">
                <h5 class="card-title portafolio">Proyect Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, quo est recusandae quae placeat culpa unde aperiam?</p>
            </div>
        </div>
        <div class="card col-md-3 border-0 px-0">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="2">
            <div class="card-body px-0">
                <h5 class="card-title portafolio">Proyect Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, quo est recusandae quae placeat culpa unde aperiam?</small></p>
            </div>
        </div>
        <div class="card col-md-3 border-0 pe-0">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="3">
            <div class="card-body px-0">
                <h5 class="card-title portafolio">Proyect Name</h5>
                <p class="card-text">TLorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, quo est recusandae quae placeat culpa unde aperiam?</p>
            </div>
        </div>
        <div class="col-md-1 bg-light "></div>
    </div>
</div>
<!-- <p>Hello, I'm the portfolio.html</p> -->