<!-- your html code here -->
<div class="container-fluid w-100% h-auto bg-light">
    <div class="row ">
        <div class="col-md-3">
            <img src="https://www.nationalgeographic.com.es/medio/2021/10/26/vaca-de-la-raza-holstein_dc320ada_1280x1280.jpg" class="rounded-circle float-end p-3 walter " alt="...">
        </div>
        <div class="col-md-7 texto p-3 ">
            <h3>
                <span class="text-dark">Its preety cool too</span>
                <span class="text-secondary">adipisicing elit. Quibusdam</span>
            </h3>         
            <p class="fs-5 w-100%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam ea odit fugiat. Quam iure incidunt magnam tempora atque! Accusamus, tempore pariatur. Asperiores voluptate aliquid quibusdam deserunt atque voluptatem molestias culpa.</p>
        </div>
        <div class="col-md-1"></div>

    </div>
</div>
